.notice-email-wrapper {
  background-color: #1f1f1f;
  overflow: auto;
  .notice-email-error-tips {
    display: inline-block;
    background-color: #ffdfdf;
    border-radius: 4px;
    padding: 0 12px;
    width: 300px;
    color: @text-color_1;
    margin-top: 8px;
  }
  .ant-form-item {
    margin-bottom: 10px;
  }
}
